body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-container {
    background-color: #9288F8;
    padding-top: 100px;
    position: relative;

}

.mountain {
    height: 500px;
    width: 800px;
    margin-top: 100px;
}

.birds-top {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 50px;
    right: 300px;
}

.birds-bottom {
    height: 150px;
    width: 150px;
    position: absolute;
    top: 200px;
    bottom: 500px;
}

h1{
    color: #461959;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
}

h2{
    color: #461959;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

h3{
    color: #461959;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.contact-message{
    width: 40%;
    margin: 20px auto 60px;
}

.contact-me{
    margin-bottom: 100px ;
}

.copyright{
    color: white;
}

.pro{

    text-decoration: underline;
}

.myppic{
    height: 200px;
    width: 200px;
}

.linkedin-img{
    height: 70px;
    width: 70px;
}

.github-img{
    height: 70px;
    width: 70px;
}

.gmail-img{
    height: 70px;
    width: 70px;
}

.instagram-img{
    height: 70px;
    width: 93px;
}

.blog-img{
    height: 150px;
    width: 550px;
}

.left
{
    width: 35%;
    float: left;
    margin-right: 30px;
    
}

.right
{
    width: 35%;
    float: right;
    margin-left: 30px;
}

.middle-container{
    
    
}

.bottom-container{
   background-color: #9288F8;
   padding: 50px 0 20px;
}

.skill-row{
    text-align: left;
    margin: 150px auto 200px auto;
    width: 50%;
    line-height: 2;
}

.profile{
    text-align: center;
    margin: 100px auto 100px auto;
    width: 50%;
}

.intro{
    width: 45%;
    margin: auto;
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
     width: 4%;
     margin: 100px auto;
}

.btn {
    
    background: #704d8c;
    background-image: -webkit-linear-gradient(top, #704d8c, #b564cc);
    background-image: -moz-linear-gradient(top, #704d8c, #b564cc);
    background-image: -ms-linear-gradient(top, #704d8c, #b564cc);
    background-image: -o-linear-gradient(top, #704d8c, #b564cc);
    background-image: linear-gradient(to bottom, #704d8c, #b564cc);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #b977d1;
    background-image: -webkit-linear-gradient(top, #b977d1, #8d65a8);
    background-image: -moz-linear-gradient(top, #b977d1, #8d65a8);
    background-image: -ms-linear-gradient(top, #b977d1, #8d65a8);
    background-image: -o-linear-gradient(top, #b977d1, #8d65a8);
    background-image: linear-gradient(to bottom, #b977d1, #8d65a8);
    text-decoration: none;
  }
  